body {
    background-color: #10001f;
    color: rgba(255, 255, 255, 0.8);
    font-family: Lato, Arial;
    font-size: 14px;

}

canvas {
    padding-top: 10px;
    padding-left: 0;
    padding-right: 0;
    margin-left: 10px;
    margin-top: 10px;
    display: block;
    float: left;
    width: 60%;
}

.expectMIDI {
    margin: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid whitesmoke;
}

.noMIDI {
    margin: 10px;
}

.button {
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 14px;
    margin: 30px 2px 15px 2px;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ffffff;
    font-family: Lato, Arial;
}

img {
    padding: 10px;
    display: block;
    margin-right: 10px;
    margin-top: 50px;
}

.right{
    float: right;
    width: 30%;
    margin-right: 100px;
}

.upload {
    font-family: Lato, Arial;
    font-size: 14px;
    width: 100%;
}

label{
    display: block;
    margin-bottom: 15px;
    margin-top: 20px;
}

h1 {
    font-size: 30px;
    font-weight: normal;
    text-transform: uppercase;
    margin: 20px 10px;
}body {
    background-color: #10001f;
    color: rgba(255, 255, 255, 0.8);
    font-family: Lato, Arial;
    font-size: 14px;

}

canvas {
    padding-top: 10px;
    padding-left: 0;
    padding-right: 0;
    margin-left: 10px;
    margin-top: 10px;
    display: block;
    float: left;
    width: 60%;
}

.expectMIDI {
    margin: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid whitesmoke;
}

.noMIDI {
    margin: 10px;
}

.button {
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 14px;
    margin: 30px 2px 15px 2px;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ffffff;
    font-family: Lato, Arial;
}

img {
    padding: 10px;
    display: block;
    margin-right: 10px;
    margin-top: 50px;
}

.right{
    float: right;
    width: 30%;
    margin-right: 100px;
}

.upload {
    font-family: Lato, Arial;
    font-size: 14px;
    width: 100%;
}

label{
    display: block;
    margin-bottom: 15px;
    margin-top: 20px;
}

h1 {
    font-size: 30px;
    font-weight: normal;
    text-transform: uppercase;
    margin: 20px 10px;
}
